.table_wrapper{
  
}

.table_container{
    padding: 1rem;
  .table {
    display: inline-block;
    border-spacing: 0;
    border: 1px solid black;
    // width: 80vw;
    .tr {
      :last-child {
        .td {
          border-bottom: 0;
        }
      }
    }
    .th,
    .td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      position: relative;
      white-space: normal;
      word-wrap: break-word;
      :last-child {
        border-right: 0;
      }
      .resizer {
        display: inline-block;
        background: blue;
        width: 10px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(50%);
        z-index: 1;
        touch-action:none;
        &.isResizing {
          background: red;
        }
      }
    }
  }
}