.App {
  min-height: 100vh;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border: 1px solid black;
}

.search-button {
  background-color: black;
  padding: 10px 20px;
  border: none;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.item_container{
  box-shadow: 0px 5px 20px rgb(71 71 71);
  border-radius: 10%;
  padding: 10px;
  margin-bottom: 5%;
}

.item_title{
  color: darkgrey;
}

.img_container{
  display: flex;
  justify-content: center;
}