.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 20vw;
  height: 50%;
}
.header{
  width: 100%;
  position: relative;
}
.footer{
  width: 100%;
  padding: 10px;
}
.image_{
  width: 100%;
  height: auto;
}
.img_label{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: darkorange;
  padding: 5px;
}

.profile{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0px;
}

.profile_img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

span{
  color: darkgoldenrod;
}

.title{
  color: rgb(71, 69, 69);
  font-weight: 700;
  font-size: 20px;
}

.footer_labels{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
}
.time{
  color: darkgray;
}
.comments{
  color: rgb(71, 69, 69);
}